<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加用户</title>
</head>
<body>
	<form action="/add_user/" method="post">
			{% csrf_token %}
			<br>
			姓名: <input type="text" name="name"><br>
			类型:
			{% for user_type in type_list %}
			<input type="radio" name="type_id" value="{{ user_type.id }}">{{ user_type.type_name }}
			{% endfor %}<br>
			头像: <input type="text" name="head_pic"><br>
			电话: <input type="number" name="phone"><br>
			<input type="submit" value="提交">
	</form>
		<p>{{ result }}</p>
</body>
</html>
